<template name="home">

  <div class="public-billboard" relative>
    <div class="public-billboard-container" fit layout vertical center-justified center>
      <h1>Get things done, together!</h1>
      <p>Your to duo list for today.</p>
      <paper-button class="btn btn-accent btn-lg" raised>Get Started</paper-button>
    </div>
  </div>

  <div class="public-feature" layout vertical center>
    <div class="public-feature-title">How It Works</div>
    <h2>Focus on what matters most</h2>
    <p>No more worrying about what matters most!  Collaborate together on what things matter most to each of you.  Use individual ratings to prioritize your todo's.</p>
    <div class="public-feature-image">
      <!--<img src="/img/feature-data.png">-->
    </div>
  </div>

  <div class="public-feature" layout vertical center>
    <h2>Monitor role based todo's</h2>
    <p>We all play many roles, for example, a spouse, parent, friend or child. Make sure you're investing time in all of roles.</p>
    <div class="public-feature-image">
      <!--<img src="/img/feature-charts.png">-->
    </div>
  </div>

  <div class="public-feature" layout vertical center>
    <h2>Influenced by the GTD method</h2>
    <p>Get things out of your brain and into a backlog for later processing.  Learn how to get things done and unclutter your life.</p>
    <div class="public-feature-image">
      <!--<img src="/img/feature-notifications.png">-->
    </div>
  </div>

  <div class="public-cta" layout vertical center>
    <p>Make decisions with real data</p>
    <paper-button class="btn btn-accent btn-lg" raised>Get Started Free</paper-button>
  </div>

  {{#contentFor region="footer"}}
    {{> publicFooter}}
  {{/contentFor}}

</template>
