<template name="publicFooter">

  <footer class="public-footer" layout horizontal>
    <div>
      <span>&copy; 2015 Toduo &middot;</span>
      <a href="{{pathFor route='about'}}">About</a>
    </div>
    <div flex></div>
    <div>
      <a href="http://twitter.com/crussi" target="_blank">
          <paper-icon-button icon="social:post-twitter" role="button" tabindex="0" aria-label="social:post-twitter"></paper-icon-button>
      </a>
      <a href="https://plus.google.com/s/chrisrussi" target="_blank">
          <paper-icon-button icon="social:post-gplus" role="button" tabindex="0" aria-label="social:post-gplus"></paper-icon-button>
      </a>
      <a href="https://www.youtube.com/channel/UC_x5XG1OV2P6uZZ5FSM9Ttw" target="_blank">
          <paper-icon-button icon="social:post-youtube" role="button" tabindex="0" aria-label="social:post-youtube"></paper-icon-button>
      </a>
    </div>
    <div>

    </div>
  </footer>

</template>
